<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!--For developing without using Azure, or a remote database-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <add key="portalPath" value="http://localhost:7526" xdt:Transform="SetAttributes"
            xdt:Locator="Match(key)"/>

    <add key="videoCDN" value="http://localhost:7526" xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>

    <add key="StorageConnectionString" value="" xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)"/>

  </appSettings>
</configuration>