<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:mwsdev.database.windows.net,1433;Initial Catalog=Dev;Persist Security Info=False;User ID=MWS;Password=Models4Wive$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
   
  <appSettings>

    <add key="portalPath" value="http://localhost:7527" xdt:Transform="SetAttributes"
            xdt:Locator="Match(key)"/>

    <add key="videoCDN" value="https://mwsdevstorage.blob.core.windows.net" xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>

    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mwsdevstorage;AccountKey=GMxHL5KReM6KActBn/DAYAX1VwWvljLpEiI8EjUABCL0wQTDonq2fesrOt7KyaAS7c/pReU535et4PcfaYf5+g==;EndpointSuffix=core.windows.net" xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)"/>

  </appSettings>
</configuration>