<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!--Staging-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
   <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:midweststreamsproduction.database.windows.net,1433;Initial Catalog=Production;Persist Security Info=False;User ID=ShaneWhite;Password=Models4Wive$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>

    <add key="dev" value="true" xdt:Transform="SetAttributes"
          xdt:Locator="Match(key)"/>

    <add key="portalPath" value="http://staging.midweststreams.com" xdt:Transform="SetAttributes"
            xdt:Locator="Match(key)"/>

    <add key="logFilePath" value="D:\BatchFiles\" xdt:Transform="SetAttributes"
            xdt:Locator="Match(key)"/>

    <add key="rootPath" value="D:\Websites\Staging" xdt:Transform="SetAttributes"
          xdt:Locator="Match(key)"/>


    <add key="ffmpeg" value="D:\ffmpeg\bin\ffmpeg.exe" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>

    <add key="pdfUploadSpot" value="D:\Websites\Staging\UploadedPDFs" xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>

    <add key="pdfArchive" value="D:\PDFArchive" xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>

    <add key="rawArchive" value="D:\VideoDevArchive\RawVideoFiles" xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>

    <add key="convertedArchive" value="D:\VideoDevArchive\ConvertedVideos" xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>

    <add key="tempEditFolder" value="D:\VideoDevArchive\TempEditFolder" xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)"/>

    <add key="duplicateArchive" value="D:\VideoDevArchive\DuplicateVideos" xdt:Transform="SetAttributes"
     xdt:Locator="Match(key)"/>

    <add key="failArchive" value="D:\VideoDevArchive\FailedVideos" xdt:Transform="SetAttributes"
     xdt:Locator="Match(key)"/>

    <add key="videoThumbnailArchive" value="D:\VideoDevArchive\Thumbnails" xdt:Transform="SetAttributes"
 xdt:Locator="Match(key)"/>

    <add key="videoCDN" value="https://videocdn.blob.core.windows.net" xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>

    <add key="ARMTemplates" value="D:\Websites\Staging\ARMTemplates" xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)"/>

  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>