<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=192.168.25.5;Initial Catalog=PortalDev;User Id=PortalDev;Password=Models4Wive$" providerName="System.Data.SqlClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    
    <add key="portalPath" value="http://dev.midweststreams.com" xdt:Transform="SetAttributes"
            xdt:Locator="Match(key)"/>
    
    <add key="logFilePath" value="D:\BatchFiles\" xdt:Transform="SetAttributes"
            xdt:Locator="Match(key)"/>
  
    <add key="rootPath" value="C:\inetpub\portaldev" xdt:Transform="SetAttributes"
          xdt:Locator="Match(key)"/>


    <add key="ffmpeg" value="d:\ffmpeg\bin\ffmpeg.exe" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>

    <add key="pdfUploadSpot" value="C:\inetpub\portaldev\UploadedPDFs" xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>
    
    <add key="pdfArchive" value="D:\PDFArchive" xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>

    <add key="rawArchive" value="D:\VideoDevArchive\RawVideoFiles" xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>

    <add key="convertedArchive" value="D:\VideoDevArchive\ConvertedVideos" xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>
    
    <add key="tempEditFolder" value="D:\VideoDevArchive\TempEditFolder" xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)"/>
    
    <add key="duplicateArchive" value="D:\VideoDevArchive\DuplicateVideos" xdt:Transform="SetAttributes"
     xdt:Locator="Match(key)"/>
    
    <add key="failArchive" value="D:\VideoDevArchive\FailedVideos" xdt:Transform="SetAttributes"
     xdt:Locator="Match(key)"/>

    <add key="videoThumbnailArchive" value="D:\VideoDevArchive\Thumbnails" xdt:Transform="SetAttributes"
 xdt:Locator="Match(key)"/>
    
    <add key="videoCDN" value="http://videosdev.midweststreams.com" xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>
   
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>