<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=tcp:midweststreamsproduction.database.windows.net,1433;Initial Catalog=Production;Persist Security Info=False;User ID=ShaneWhite;Password=Models4Wive$;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" providerName="System.Data.SqlClient"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>

    <add key="portalPath" value="http://localhost:7527" xdt:Transform="SetAttributes"
            xdt:Locator="Match(key)"/>

    <add key="videoCDN" value="https://videocdn.blob.core.windows.net" xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>

    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=videocdn;AccountKey=QEB6zD7jzBQ3UbfUkzpds/kc+tF9H0OOyBRsPEO4JjkO/+K/KGbaJ6DOEnYRtkvMlBs9XGKmbbZ2xFPLlOlVDg==" xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)"/>

  </appSettings>
</configuration>