<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!--THIS IS PRODUCTION!!!-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>

    <add key="dev" value="false" xdt:Transform="SetAttributes"
          xdt:Locator="Match(key)"/>
    
    <add key="portalPath" value="https://portal.midweststreams.com" xdt:Transform="SetAttributes"
            xdt:Locator="Match(key)"/>

    <add key="logFilePath" value="C:\BatchFiles\" xdt:Transform="SetAttributes"
            xdt:Locator="Match(key)"/>

    <add key="rootPath" value="C:\Websites\Portal" xdt:Transform="SetAttributes"
          xdt:Locator="Match(key)"/>


    <add key="ffmpeg" value="C:\ffmpeg\bin\ffmpeg.exe" xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>

    <add key="pdfUploadSpot" value="C:\Websites\Portal\UploadedPDFs" xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>

    <add key="pdfArchive" value="C:\PDFArchive" xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>

    <add key="rawArchive" value="C:\VideoArchive\RawVideoFiles" xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>

    <add key="convertedArchive" value="C:\VideoArchive\ConvertedVideos" xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>

    <add key="tempEditFolder" value="C:\VideoArchive\TempEditFolder" xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)"/>

    <add key="duplicateArchive" value="C:\VideoArchive\DuplicateVideos" xdt:Transform="SetAttributes"
     xdt:Locator="Match(key)"/>

    <add key="failArchive" value="C:\VideoArchive\FailedVideos" xdt:Transform="SetAttributes"
     xdt:Locator="Match(key)"/>

    <add key="videoThumbnailArchive" value="C:\VideoArchive\Thumbnails" xdt:Transform="SetAttributes"
 xdt:Locator="Match(key)"/>

    <add key="videoCDN" value="https://videocdn.blob.core.windows.net" xdt:Transform="SetAttributes"
        xdt:Locator="Match(key)"/>

    <add key="ARMTemplates" value="C:\Websites\Portal\ARMTemplates" xdt:Transform="SetAttributes"
       xdt:Locator="Match(key)"/>

    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=videocdn;AccountKey=QEB6zD7jzBQ3UbfUkzpds/kc+tF9H0OOyBRsPEO4JjkO/+K/KGbaJ6DOEnYRtkvMlBs9XGKmbbZ2xFPLlOlVDg==" xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>
    
    <add key="StripeApiKey" value="sk_live_AivkCZ8f0NBJ7rlwxVCBEts8" xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>

    <add key="StripeApiKeyPublic" value="pk_live_gznr3Ckw4VQELUG5ouTreXab" xdt:Transform="SetAttributes"
      xdt:Locator="Match(key)"/>

  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
         -->
      <customErrors defaultRedirect="~/Error"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
        <error redirect="~/Error/NotFound" statusCode="404" />
      </customErrors>

    </system.web>
</configuration>