@model VideoManager.Models.Data.Service
@{
    Layout = null;
    string videoTitle = Model.VideoTitle.Replace("'", " ");
}

<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="~/Content/images/FaviconMWS.png" type="image/x-icon">
    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <style>
        body {
            font-family: Lato;
        }
    </style>
</head>
<body>
    @if (Model.LiveStream != null)
    {
        if (Model.LiveStream.Started == true)
        {
            <script type="text/javascript" src="//player.wowza.com/player/latest/wowzaplayer.min.js"></script>
            <div id="playerElement" style="width:100%; height:0; padding:0 0 56.25% 0"></div>
            <script type="text/javascript">
    WowzaPlayer.create('playerElement',
        {
            "license": "PLAY1-7r88f-Rfwdk-zXdVp-VnJeu-xZx9n",
            "title": "@videoTitle",
            "description": "This%20video%20is%20being%20hosted%20on%20MWS",
            "sourceURL": "@Model.LiveStream.SourceURL",
            "autoPlay": false,
            "volume": "75",
            "mute": false,
            "loop": false,
            "audioOnly": false,
            "uiShowQuickRewind": true,
            "uiQuickRewindSeconds": "30"
        }
    );
            </script>
        }
        else
        {
            <div>
                <h2>A live stream of this service will be available at @Model.ServiceDate.ToString("MMM dd hh:mm")</h2>
            </div>
        }

    }

</body>

</html>