@model VideoManager.Models.Data.Service
@{
    string colOffset = "2";
    if (User.IsInRole("Viewing"))
    {
        colOffset = "4";
    }
}

<script type="text/javascript" src="//player.wowza.com/player/latest/wowzaplayer.min.js"></script>
<div class="col-lg-9 col-lg-offset-@colOffset">
    <h1 style="text-align:center;">@Model.FirstName @Model.LastName's Service</h1>
    <div id="playerElement" style="width:100%; height:0; padding:0 0 56.25% 0; margin-top:55px"></div>
</div>

<script type="text/javascript">
    WowzaPlayer.create('playerElement',
        {
            "license": "PLAY1-7r88f-Rfwdk-zXdVp-VnJeu-xZx9n",
            "title": "Live Stream",
            "description": "",
            "sourceURL": "@Model.LiveStream.SourceURL",
            "autoPlay": false,
            "volume": "75",
            "mute": false,
            "loop": false,
            "audioOnly": false,
            "uiShowQuickRewind": true,
            "uiQuickRewindSeconds": "30"
        }
    );
</script>
