
@{
    Layout = null;
}
<div marginwidth="0" marginheight="0" style="margin:0;padding:0;background-color:#f2f2f2;min-height:100%!important;width:100%!important">
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" style="border-collapse:collapse;margin:0;padding:0;background-color:#f2f2f2;height:100%!important;width:100%!important">
            <tbody>
                <tr>
                    <td align="center" valign="top" style="margin:0;padding:20px;border-top:0;height:100%!important;width:100%!important">

                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;border:0">
                            <tbody>
                                <tr>
                                    <td align="center" valign="top">

                                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#292929;border-top:1px solid #292929;border-bottom:1px solid #292929">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" style="padding-top:9px">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding:10px 18px">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width:1px;border-top-style:none;border-top-color:#999999;border-collapse:collapse">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span></span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top">

                                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#ffffff;border-top:1px none #234d64;border-bottom:1px none #234d64">
                                            <tbody>
                                                <tr>
                                                    <td valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#f9faf9;border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding:18px">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width:1px;border-top-style:solid;border-top-color:#999999;border-collapse:collapse">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span></span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top">

                                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#f9faf9;border-top:1px solid #292929;border-bottom:1px solid #292929">
                                            <tbody>
                                                <tr>
                                                    <td valign="top">
                                                        <span class="im">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                                <tbody>
                                                                    <tr>
                                                                        <td valign="top">

                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                                                                <tbody>
                                                                                    <tr>

                                                                                        <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#292929;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left">

                                                                                            <h1 style="line-height:20.7999992370605px;margin:0;padding:0;display:block;font-family:Helvetica;font-size:40px;font-style:normal;font-weight:bold;letter-spacing:-1px;text-align:left;color:#606060!important">
                                                                                                <span style="color:#292929"><span style="font-size:24px">@ViewBag.EmailHeader</span></span><br>
                                                                                                 <br>
                                                                                                <span style="color:#292929;font-size:13px;line-height:20.7999992370605px"><span style="font-size:18px"><span style="line-height:24.3360004425049px">Click&nbsp;</span></span></span><span style="color:#234d64;font-size:13px;line-height:20.7999992370605px"><span style="font-size:18px"><span style="line-height:24.3360004425049px"><a href="@ViewBag.ViewingLink">here</a></span></span></span><span style="color:#292929;font-size:13px;line-height:20.7999992370605px"><span style="font-size:18px"><span style="line-height:24.3360004425049px">&nbsp;to view the&nbsp;service.</span></span></span>
                                                                                            </h1>

                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>

                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </span><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top">

                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                                                            <tbody>
                                                                                <tr>

                                                                                    <td style="padding-top:9px;padding-left:18px;padding-bottom:9px;padding-right:18px">

                                                                                        <table border="0" cellpadding="18" cellspacing="0" width="100%" style="border:1px solid #999999;background-color:#ebebeb;border-collapse:collapse">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td valign="top" style="color:#292929;font-family:Helvetica;font-size:15px;line-height:150%;text-align:left">
                                                                                                        Forward this email to anyone who wishes to view the service.
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top">

                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="282" style="border-collapse:collapse">
                                                                            <tbody>
                                                                                <tr>

                                                                                    <td style="padding-top:9px;padding-left:18px;padding-bottom:9px;padding-right:0">

                                                                                        <table border="0" cellpadding="18" cellspacing="0" width="100%" style="border:1px solid #292929;background-color:#234d64;border-collapse:collapse">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td valign="top" style="color:#f9faf9;font-weight:normal;line-height:100%;text-align:left;font-family:Helvetica;font-size:15px">
                                                                                                        <h4 style="margin:0;padding:0;display:block;font-family:Helvetica;font-size:16px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left;color:#808080!important"><span style="font-size:14px"><span style="color:#f9faf9">Username: @ViewBag.UserName</span></span></h4>

                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                        <table align="right" border="0" cellpadding="0" cellspacing="0" width="282" style="border-collapse:collapse">
                                                                            <tbody>
                                                                                <tr>

                                                                                    <td style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:0">

                                                                                        <table border="0" cellpadding="18" cellspacing="0" width="100%" style="border:1px solid #292929;background-color:#234d64;border-collapse:collapse">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td valign="top" style="color:#f9faf9;font-weight:normal;line-height:100%;text-align:left;font-family:Helvetica;font-size:15px">
                                                                                                        <h4 style="margin:0;padding:0;display:block;font-family:Helvetica;font-size:16px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:left;color:#808080!important"><span style="font-size:14px"><span style="color:#f9faf9">Password: @ViewBag.Password</span></span></h4>

                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color:#f9faf9;border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding:18px">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width:1px;border-top-style:solid;border-top-color:#999999;border-collapse:collapse">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span></span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top">

                                        <table border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse;background-color:#292929;border-top:0;border-bottom:0">
                                            <tbody>
                                                <tr>
                                                    <td valign="top" style="padding-bottom:9px">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td valign="top">

                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" style="border-collapse:collapse">
                                                                            <tbody>
                                                                                <tr>

                                                                                    <td valign="top" style="padding-top:9px;padding-right:18px;padding-bottom:9px;padding-left:18px;color:#f9faf9;font-family:Helvetica;font-size:11px;line-height:125%;text-align:left">

                                                                                        <span style="line-height:20.7999992370605px">Connecting Families Together</span><br>
                                                                                        <br>
                                                                                        <em>Copyright ©@DateTime.Now.Year Midwest Streams, All rights reserved.</em>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>
