@media only screen and (max-width: 321px) {
    #video-title > h1 {
        font-size: 8px;
    }

}
@media only screen and (max-width: 420px) {
    #video-title > h1 {
        font-size: 15px;
    }
}
@media only screen and (max-width: 734px) {
    #video-title > h1 {
        font-size: 21px;
    }
}
