.video-js {
    font-family: 'Lato';
}

.myvideo-title-overlay-container > span {
    display: inline-block;
    color: #eaeaea;
    padding: 3px 18px;
    margin-top: 2%;
    margin-left: 4%;
    border-radius: 8px;
    background: #2b2b2b;
    font-weight: 300;
    font-family: 'Lato';
    padding-top: 5px;
    padding-bottom: 10px;
}        

.vjs-fullscreen {
    padding-top: 0
}

.vjs-nofull .vjs-fullscreen-control {
    display: none;
}

.video-js .vjs-control-bar {
    position: absolute;
    overflow: visible;
    border: none;
    line-height: 1;
    background: url(../../content/videoplayer/minimal_skin_white/controller-background.png);
    backface-visibility: hidden;
    z-index: 1;
    transform: translate3d(0px, 0px, 0px);
    height: 37px;
}

.video-js.vjs-big-play-centered .vjs-big-play-button {
    width: 140px;
    height: 88px;
    background: none;
    line-height: 70px;
    border: none;
    top: 50%;
    left: 50%;
    margin-left: -89px;
    margin-top: -40px;
    background-image: url(../../content/videoplayer/minimal_skin_white/large-play.png);
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    background-size: 100%;
}

.video-js.vjs-big-play-centered .vjs-big-play-button:before {
    content: "";
    border: none !important;
    box-shadow: none !important;
}

.video-js.vjs-big-play-centered .vjs-big-play-button:hover {
    background-image: url(../../content/videoplayer/minimal_skin_white/large-play-over.png);
}

.video-js:hover .vjs-control-bar,
.video-js:hover .vjs-big-play-button,
.video-js:hover .vjs-menu-button .vjs-menu-content {
    background-color: transparent;
}

img#vjs-logobrand-image {
    bottom: 39px;
    right: 10px;
}

/* responsive design for different screen resolutions */

@media screen and (max-width: 647px) {
    #myvideo-title-overlay-container > span {
        font-size: 20px !important;
        height: 30px;
        margin-left: auto;
        margin-right:auto;
        height: 30px;
    }
    #myvideo-title-overlay-container {
        display: inline-flex;
        width: 100%;
        justify-content: center;
    }
    img#vjs-logobrand-image {
        width: 33px!important;
    }

    .video-js.vjs-big-play-centered .vjs-big-play-button {
        width: 90px;
        height: 80px;
        margin-left: -20px;
        margin-top: -15px;
    }
    .myvideo-title-overlay-container > span
    {
        float:none!important;
    }
}

/*@media screen and (min-width: 321px) and (max-width: 640px) {
    #myvideo-title-overlay-container > span {
        font-size: 21px !important;
        height: 40px;
        float: none !important;
        margin-left: auto;
        margin-right: auto;
        height: 34px;
    }
    #myvideo-title-overlay-container {
        width: 100%;
        display: inline-flex;
        justify-content: center;
    }
    img#vjs-logobrand-image {
        width: 38px !important;
    }

    .video-js.vjs-big-play-centered .vjs-big-play-button {
        width: 50px;
        height: 40px;
        margin-left: -25px;
        margin-top: -20px;
    }
}*/


@media screen and (min-width: 961px) and (max-width: 1024px) {
    #myvideo-title-overlay-container > span {
        font-size: 35px !important;
        height: 50px;
    }

    img#vjs-logobrand-image {
        width: 40px;
    }


}

