<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
  </connectionStrings>
  <appSettings>
    <!--Non Azure VM-->
    <!--<add key="versionNumber" value="08/09/17 *PROD" />
    <add key="logFilePath" value="D:\BatchFiles\" />
    <add key="ffmpeg" value="D:\ffmpeg\bin\ffmpeg.exe" />
    <add key="rawArchive" value="D:\VideoArchive\Video\RawVideoFiles" />
    <add key="failArchive" value="D:\VideoArchive\Video\FailedVideoFiles" />
    <add key="convertedArchive" value="D:\VideoArchive\Video\ConvertedVideos" />
    <add key="tempEditFolder" value="D:\VideoArchive\Video\TempEditFolder" />
    <add key="videoThumbnailArchive" value="D:\VideoArchive\Video\Thumbnails" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=videocdn;AccountKey=QEB6zD7jzBQ3UbfUkzpds/kc+tF9H0OOyBRsPEO4JjkO/+K/KGbaJ6DOEnYRtkvMlBs9XGKmbbZ2xFPLlOlVDg==" />
    <add key="sendGridUsername" value="midwetp1" />
    <add key="sendGridPassword" value="Models4Wive$$" />
    <add key="portalPath" value="https://portal.midweststreams.com" />
    <add key="IsAzureVM" value="false" />
    <add key="internalAPIKey" value="GrL9qdsry0" />-->
    <!--Azure VM-->
    <!--<add key="versionNumber" value="04/19/19 *PROD" />
    <add key="logFilePath" value="C:\BatchFiles\" />
    <add key="ffmpeg" value="C:\ffmpeg\bin\ffmpeg.exe" />
    <add key="ffprobe" value="C:\ffmpeg\bin\ffprobe.exe" />
    <add key="rawArchive" value="C:\VideoArchive\RawVideoFiles" />
    <add key="failArchive" value="C:\VideoArchive\FailedVideoFiles" />
    <add key="convertedArchive" value="C:\VideoArchive\ConvertedVideos" />
    <add key="tempEditFolder" value="C:\VideoArchive\TempEditFolder" />
    <add key="videoThumbnailArchive" value="C:\VideoArchive\Thumbnails" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=videocdn;AccountKey=QEB6zD7jzBQ3UbfUkzpds/kc+tF9H0OOyBRsPEO4JjkO/+K/KGbaJ6DOEnYRtkvMlBs9XGKmbbZ2xFPLlOlVDg==" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mwsdevstorage;AccountKey=GMxHL5KReM6KActBn/DAYAX1VwWvljLpEiI8EjUABCL0wQTDonq2fesrOt7KyaAS7c/pReU535et4PcfaYf5+g==;EndpointSuffix=core.windows.net" />
    <add key="sendGridUsername" value="midwetp1" />
    <add key="sendGridPassword" value="Models4Wive$$" />
    <add key="portalPath" value="http://dev.midweststreams.com" />
    <add key="IsAzureVM" value="true" />
    <add key="internalAPIKey" value="GrL9qdsry0" />-->
    <!--Dev-->
    <add key="versionNumber" value="06/22/19 *Dev" />
    <add key="logFilePath" value="D:\BatchFiles\" />
    <add key="ffmpeg" value="D:\ffmpeg\bin\ffmpeg.exe" />
    <add key="ffprobe" value="D:\ffmpeg\bin\ffprobe.exe" />
    <add key="rawArchive" value="D:\MWSArchive\Video\RawVideoFiles" />
    <add key="failArchive" value="D:\MWSArchive\Video\FailedVideoFiles" />
    <add key="convertedArchive" value="D:\MWSArchive\Video\ConvertedVideos" />
    <add key="tempEditFolder" value="D:\MWSArchive\Video\TempEditFolder" />
    <add key="videoThumbnailArchive" value="D:\MWSArchive\Video\Thumbnails" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=mwsdevstorage;AccountKey=GMxHL5KReM6KActBn/DAYAX1VwWvljLpEiI8EjUABCL0wQTDonq2fesrOt7KyaAS7c/pReU535et4PcfaYf5+g==;EndpointSuffix=core.windows.net" />
    <add key="sendGridUsername" value="midwetp1" />
    <add key="sendGridPassword" value="Models4Wive$$" />
    <add key="portalPath" value="http://localhost:7527/" />
    <add key="portalPath" value="http://dev.midweststreams.com" />
    <add key="IsAzureVM" value="false" />
    <add key="internalAPIKey" value="GrL9qdsry0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.2.0" newVersion="5.6.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.OAuth.Consumer" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.OAuth" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>